@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
body {
    background-color: white;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}

body {
    background-color: white;
}

.header {
    max-width: 1440px;
    margin-inline: auto;
}

.nav {
    max-width: 1440px;
    margin-inline: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    color: #18113c;
}

.nav-title {
    margin: .5rem;
    display: flex;
    align-items: center;
}
.nav-title img {
    height: 2rem;
    padding-right: .5rem;
}

.nav-title h1 {
    font-size: 1.5rem;
}

.nav-links ul {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

.nav-links li {
    list-style: none;
}

.nav-links li a {
    text-decoration: none;
    color: #18113c;
    margin-inline: .5rem;
    display: block;
    font-size: .9rem;
    font-weight: 600;
    transition: 0.3s ease-in-out;
}

.nav-links li a:hover {
    color: #754FFE;
    transition: 0.3s ease-in-out;
}

.toggle-button {
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 25px;
    height: 20px;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: black;
    border-radius: 10px;
}
@media (max-width:700px) {
    .toggle-button {
        display: flex;
    }
    .nav {
        flex-direction: column;
        align-items: flex-start;
    }
    .nav-links {
        display: none;
    }
    .nav-links ul {
        width: 100%;
        flex-direction: column;
    }
    .nav-links li {
        padding: .2rem 0;
    }
    .nav-links li a {
        padding: .5rem .2rem;
    }
}

.login {
    background-color: #19CB98;
    border-radius: .2rem;
    padding: .5rem 1rem;
    color: white !important;
}

.login:hover {
    background-color: hsl(163, 78%, 35%);
    border-radius: .2rem;
    padding: .5rem 1rem;
    color: white !important;
}

.main {
    max-width: 1440px;
    margin-inline: auto;
}

.main-company {
    background-color: #754FFE;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-company-title {
    margin-top: 3rem;
    text-align: center;
    color: white;
}

.main-company-title h1 {
    font-size: 4.5rem;
}

.main-company-title p {
    padding: .2rem 0;
    font-weight: 500;
}

.login-prompt {
    margin-block: .5rem;
    background-color: #f8d7da;
    color: #842029;
    font-size: .9rem;
    padding: .5rem;
    border-radius: .2rem;
}
