.pop {
    position: absolute;
    min-height: 100%;
    width: 100%;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5)));
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: none;
    z-index: 100;
}

.pop-form {
    padding: 1rem 0;
    border-radius: .2rem;
    background-color: white;
    width: 90vw;
    max-width: 500px;
    margin-inline: auto;
}

.pop-form-title {
    padding: 0 1rem;
    padding-bottom: 1rem;
}

.pop-form-title div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.pop-form-title div h1 {
    font-weight: 500;
    font-size: 1.2rem;
}

.pop-form-title div button {
    cursor: pointer;
    font-size: 1.5rem;
    background-color: transparent;
    border: none;
}

.pop-form-div {
    padding-top: 1rem;
}

.pop-form label {
    display: block;
    margin-inline: 1rem;
    margin-block: .5rem;
    font-size: .8rem;
    font-weight: 700;
}

.pop-form input,
.pop-form textarea,
.pop-form select {
    border: 1px solid #ced4da;
    background-color: white;
    padding: .5rem;
    width: 95%;
    margin-inline: .7rem;
    cursor: pointer;
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
    border-radius: .2rem;
}

.pop-form input:hover,
.pop-form textarea:hover,
.pop-form select:hover {
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
    border: 1px solid #99edc3;
}

.pop-form input:focus,
.pop-form textarea:focus,
.pop-form select:focus {
    outline: none;
}

.pop-form textarea {
    resize: vertical;
}

.pop-form-create {
    margin-block: 1rem;
    text-align: center;
}

.pop-form-create input {
    padding: .5rem;
    width: 100px;
    background-color: #6ce5a8;
    border: 1px solid #6ce5a8;
    border-radius: .2rem;
    color: white;
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
    cursor: pointer;
}

.pop-form-create input:hover {
    background-color: #40dd8f;
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
}

hr {
    color: #fafafa;
}