.pitches {
    margin-top: 1rem;
    width: 90vw;
    max-width: 1200px;
    margin-inline: auto;
    padding-bottom: 5rem;
}

.pitches-ul {
    display: grid;
    grid-template-columns: 1fr;
}

.pitches-ul-li {
    box-shadow: 0 0 .2rem .2rem hsl(0, 0%, 90%);
    padding: .5rem;
    margin-block: .5rem;
    border-radius: .5rem;
    transition: 0.3s ease-in-out;
}

.pitches-ul-li:hover {
    transition: 0.3s ease-in-out;
    transform: translateY(-0.2rem);
}

.pitches-ul-li h1 {
    padding: 1rem 0;
}

.pitches-ul-li-vote {
    padding: 1rem 0;
}

.pitches-ul-li-vote button {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.pitches-ul-li-vote img {
    height: 1rem;
}

.pitches-ul-li-vote input {
    width: 20px;
}

.pitches-ul-li-user {
    border-top: 1px solid hsla(0, 0%, 0%, 0.2);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.pitches-ul-li-user p {
    font-size: .9rem;
}

@media (min-width:668px) {
    .pitches-ul {
        grid-template-columns: repeat(2, 1fr);
        column-gap: 1rem;
    }
}

@media (min-width:868px) {
    .pitches-ul {
        grid-template-columns: repeat(3, 1fr);
        column-gap: 1rem;
    }
}

@media (min-width:1000px) {
    .pitches-ul {
        grid-template-columns: repeat(4, 1fr);
        column-gap: 1rem;
    }
}

.postlikecount {
    border: none;
    color: green;
}

.postdislike {
    position: relative;
    top: 5px;
}

.postdislikecount {
    border: none;
    color: red;
}