{% extends 'base.html' %} {% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/account.css') }}">
<link rel="icon" href="{{ url_for('static', filename='images/blog.png') }}">

<title>Pitches | Account</title>
{% endblock %} {% block content %}
<header class="header">
    <section class="header-profile">
        <article class="header-profile-main">
            <div class="details">
                <div class="header-profile-main-image">
                    <img src="{{ image }}" alt="user pic">
                </div>
                <div class="header-profile-main-fullname">
                    <h1>{{ current_user.username|capitalize }}</h1>
                    <h2>{{ current_user.email }}</h2>
                </div>
            </div>