<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{{ url_for('static', filename='images/blog.png') }}">
    <link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/global.css') }}"> {% block head %} {% endblock %}
</head>

<body>
    <nav class="nav">
        <div class="nav-title" id='title'>
            <img src="{{ url_for('static',filename='images/blog.png') }}" alt="">
            <h1>Pitches</h1>
        </div>
        <a href="#" class='toggle-button' id="hamburger">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
        </a>

        <div class="nav-links" id="menu">
            <ul>
                <li><a href="{{ url_for('main.home') }}">Home</a></li>
                {% if current_user.is_authenticated %}
                <li><a href="{{url_for('users.account')}}">{{ current_user.username }}</a></li>
                <li><a href="{{ url_for('users.logout') }}" class='login'>Logout</a></li>
                {% else %}
                <li><a href="{{ url_for('users.register') }}" class='login'>Login</a></li>
                {% endif %}
            </ul>
        </div>
    </nav>
    {% block content %} {% endblock %}
</body>

</html>