{% extends 'base.html' %} {% block head %}
<link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}">
<link rel="stylesheet" href="{{url_for('static',filename='css/footer.css')}}">
<link rel="stylesheet" href="{{url_for('static',filename='css/pop.css')}}">
<link rel="stylesheet" href="{{url_for('static',filename='css/post.css')}}">
<link rel="stylesheet" href="{{url_for('static',filename='css/button.css')}}">
<link rel="icon" href="{{url_for('static',filename='images/blog.png')}}">
<title>Pitches | Coding Journey</title>
<style>
    .active {
        display: flex;
    }
</style>
{% endblock %} {% block content %}

<section class="header">
    <article class="pop" id="pop">
        <form class="pop-form" id='form' method='POST'>
            {{ form.hidden_tag() }}
            <div class="pop-form-title">
                <div>
                    <h1>Create Pitch</h1>
                    <button id="close">&times;</button>
                </div>
            </div>
            <hr>
            <div class=pop-form-div>
                {{ form.title.label }}
                <div>
                    {{ form.title }}
                </div>
                {{ form.description.label }}
                <div>
                    {{ form.description }}
                </div>
            </div>
            <div class="pop-form-create" id="we">
                {{ form.submit }}
            </div>
        </form>
    </article>

</section>
<section class="main">

    <section class="main-company">
        <article class="main-company-title">
            <h1>Pitches</h1>
            <p>Publish your pitches</p>
        </article>
        {% if current_user.is_authenticated %}
        <article class="main-company-button">
            <button class="button display" id="display">
                <div class="svg-wrapper-1">
                <div class="svg-wrapper">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
                    <path fill="none" d="M0 0h24v24H0z"></path>
                    <path fill="currentColor" d="M1.946 9.315c-.522-.174-.527-.455.01-.634l19.087-6.362c.529-.176.832.12.684.638l-5.454 19.086c-.15.529-.455.547-.679.045L12 14l6-8-8 6-8.054-2.685z"></path>
                    </svg>
                </div>
                </div>
                <span>Create</span>
            </button>
        </article>
        {% else %}
        <h1 class="login-prompt">Login to create a pitch</h1>
        {% endif %}
    </section>
    <article class="pitches">
        <ul class="pitches-ul">
            {% for pitch in pitches %}
            <li class="pitches-ul-li">
                <h1>{{ pitch.title | upper }}</h1>
                <p>{{ pitch.description }}</p>
                <div class="pitches-ul-li-vote">
                    <button class="postlike"><img src="{{ url_for('static', filename='images/thumb-up.png') }}" alt=""></button>
                    <input type="text" class="postlikecount" value="0" disabled>
                    <button class="postdislike"><img src="{{ url_for('static', filename='images/thumb-down.png') }}" alt=""></button>
                    <input type="text" class="postdislikecount" value="0" disabled>
                </div>
                <div class="pitches-ul-li-user">
                    <h4>{{ pitch.author.username | capitalize}}</h4>
                    <p>{{ pitch.posted_at.strftime('%Y-%m-%d') }}</p>
                </div>
            </li>
            {% endfor %}
        </ul>
    </article>
</section>
<!-- <section class="footer">
    <article class="footer-copyright">
        <p>&copy;2022 Pitches. All right Reserved</p>
    </article>
    <article class="footer-addons">
        <p>Privacy</p>
        <p>Terms</p>
        <p>Support</p>
    </article>
</section> -->
<script src="{{ url_for('static',filename='js/script.js') }}"></script>
<script src="{{ url_for('static',filename='js/pop.js') }}"></script>
<script src="{{ url_for('static',filename='js/nav.js') }}"></script>

{% endblock %}
© 2022 GitHub, Inc.
Terms
Privacy
